body {
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  padding-top: 71px; }

.reg-layout {
  width: 474px;
  height: 628px;
  top: 71px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px; }
  .reg-layout h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 32px  0 14px 32px; }
  .reg-layout .menu {
    display: flex;
    padding: 0 0 15px 0;
    border-bottom: solid 1px #F1F1F1;
    margin: 0; }
    .reg-layout .menu li {
      list-style: none;
      margin-right: 24px;
      display: flex;
      align-items: flex-end;
      position: relative; }
      .reg-layout .menu li a {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #6B6B6B;
        text-decoration: none; }
    .reg-layout .menu li:last-child {
      margin-right: 0; }
    .reg-layout .menu li:first-child {
      margin-left: 32px; }
    .reg-layout .menu li:hover a {
      color: #111;
      cursor: pointer; }
    .reg-layout .menu li:hover::after {
      width: 100%;
      height: 2px;
      content: "";
      background-color: #6e41e2;
      position: absolute;
      top: 37px; }
  .reg-layout .social-sign {
    height: 60px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .reg-layout .social-sign p {
      margin: 0 32px 0 32px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #000000; }
    .reg-layout .social-sign .social-icons {
      margin-right: 32px;
      display: flex; }
      .reg-layout .social-sign .social-icons .vk-icon {
        width: 36px;
        height: 36px;
        background: url(./assets/reg-images/Vector-vk-icon.svg) #FFFFFF no-repeat 50% 50%;
        border-radius: 50%;
        margin-right: 8px;
        cursor: pointer; }
      .reg-layout .social-sign .social-icons .fb-icon {
        width: 36px;
        height: 36px;
        background: url(./assets/reg-images/Vector-fb-icon.svg) #FFFFFF no-repeat 50% 50%;
        border-radius: 50%;
        margin-right: 8px;
        cursor: pointer; }
      .reg-layout .social-sign .social-icons .g-icon {
        width: 36px;
        height: 36px;
        background: url(./assets/reg-images/google-g-icon.svg) #FFFFFF no-repeat 50% 50%;
        border-radius: 50%;
        cursor: pointer; }
  .reg-layout .reg-form {
    margin: 24px 32px 0 32px; }
    .reg-layout .reg-form .input-name {
      width: 410px;
      height: 56px;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
      border-radius: 4px;
      border: none;
      margin-bottom: 20px; }
    .reg-layout .reg-form .input-email {
      width: 410px;
      height: 56px;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
      border-radius: 4px;
      border: none;
      margin-bottom: 20px; }
    .reg-layout .reg-form .input-phone {
      width: 410px;
      height: 56px;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
      border-radius: 4px;
      border: none;
      margin-bottom: 20px; }
    .reg-layout .reg-form .input:focus-visible {
      outline: none; }
    .reg-layout .reg-form .input::placeholder {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(17, 17, 17, 0.48);
      padding-left: 16px; }
    .reg-layout .reg-form .privacy-policy {
      display: flex;
      align-items: center; }
      .reg-layout .reg-form .privacy-policy .checkbox-privacy {
        width: 24px;
        height: 24px;
        border: #D4D4D4 1px solid;
        box-sizing: border-box;
        border-radius: 4px; }
      .reg-layout .reg-form .privacy-policy p {
        margin: 0 0 0 12px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #000000; }
        .reg-layout .reg-form .privacy-policy p a {
          text-decoration: none;
          color: #6E41E2; }
    .reg-layout .reg-form .submit-reg {
      width: 410px;
      height: 44px;
      background: #6E41E2;
      border-radius: 4px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      border: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px; }
    .reg-layout .reg-form .submit-reg:hover {
      cursor: pointer; }
    .reg-layout .reg-form .submit-reg:hover::before {
      content: "";
      display: flex;
      background: url(./assets/reg-images/arrow-left.svg);
      cursor: pointer;
      width: 16px;
      height: 16px;
      margin-right: 8px; }
    .reg-layout .reg-form .submit-sign-in {
      width: 410px;
      height: 44px;
      background: #fff;
      border-radius: 4px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #6E41E2;
      border: none;
      margin-top: 8px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
    .reg-layout .reg-form .submit-sign-in:hover {
      cursor: pointer; }
    .reg-layout .reg-form .submit-sign-in:hover::before {
      content: "";
      display: block;
      background: url(./assets/reg-images/arrow-leftcolor.svg);
      cursor: pointer;
      width: 16px;
      height: 16px;
      margin-right: 8px; }
