$monserrat: 'Montserrat',
sans-serif;
$roboto: 'Roboto',
sans-serif;

body {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding-top: 71px;
}
.reg-layout {
    max-width: 474px;
    width: 100%;
    height: 628px;
    top: 71px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 8px;
    h1 {
        font-family: $monserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 32px  0 14px 32px;
    }
    .menu {
        display: flex;
        padding: 0 0 15px 0;
        border-bottom: solid 1px #F1F1F1;
        margin: 0;
        li {
            list-style: none;
            margin-right: 24px;
            display: flex;
            align-items: flex-end;
            position: relative;
            a {
                font-family: $roboto;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #6B6B6B;
                text-decoration: none;
            }
        }
        li:last-child {
            margin-right: 0;
        }
        li:first-child {
            margin-left: 32px;
        }
        li:hover a {
            color: #111;
            cursor: pointer;
        }
        li:hover::after {
            width: 100%;
            height: 2px;
            content: "";
            background-color: rgba(110, 65, 226, 1);
            position: absolute;
            top: 37px;
        }
    }
    .social-sign {
        height: 60px;
        background: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            margin: 0 32px 0 32px;
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: #000000;
        }
        .social-icons {
            margin-right: 32px;
            display: flex;
            .vk-icon {
                width: 36px;
                height: 36px;
                background: url(./assets/reg-images/Vector-vk-icon.svg) #FFFFFF no-repeat 50% 50%;
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
            }
            .fb-icon {
                width: 36px;
                height: 36px;
                background: url(./assets/reg-images/Vector-fb-icon.svg) #FFFFFF no-repeat 50% 50%;
                border-radius: 50%;
                margin-right: 8px;
                cursor: pointer;
            }
            .g-icon {
                width: 36px;
                height: 36px;
                background: url(./assets/reg-images/google-g-icon.svg) #FFFFFF no-repeat 50% 50%;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .reg-form {
        margin: 24px 32px 0 32px;
        
        .input-name {
            max-width: 410px;
            width: 100%;
            height: 56px;
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            border: none;
            margin-bottom: 20px;
        }
        .input-email {
            max-width: 410px;
            width: 100%;
            height: 56px;
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            border: none;
            margin-bottom: 20px;
        }
        .input-phone {
            max-width: 410px;
            width: 100%;
            height: 56px;
            box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            border: none;
            margin-bottom: 20px;
        }
        .input:focus-visible {
            outline: none;
        }
        .input::placeholder {
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: rgba(17, 17, 17, 0.48);
            padding-left: 16px;
        }
        .privacy-policy {
            display: flex;
            align-items: center;
            .checkbox-privacy {
                width: 24px;
                height: 24px;
                border: #D4D4D4 1px solid;
                box-sizing: border-box;
                border-radius: 4px;
            }
            p {
                margin: 0 0 0 12px;
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #000000;
                a {
                    text-decoration: none;
                    color: #6E41E2;
                }
            }
        }
        .submit-reg {
            max-width: 410px;
            width: 100%;
            height: 44px;
            background: #6E41E2;
            border-radius: 4px;
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            border: none;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        .submit-reg:hover{
            cursor: pointer;
        }
        .submit-reg:hover::before {
            content: "";
            display: flex;
            background: url(./assets/reg-images/arrow-left.svg);
            cursor: pointer;
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
        .submit-sign-in {
            max-width: 410px;
            width: 100%;
            height: 44px;
            background: #fff;
            border-radius: 4px;
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #6E41E2;
            border: none;
            margin-top: 8px; 
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .submit-sign-in:hover{
            cursor: pointer;
        }
        .submit-sign-in:hover::before {
            content: "";
            display: block;
            background: url(./assets/reg-images/arrow-leftcolor.svg);
            cursor: pointer;
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
    }
}