$monserrat: 'Montserrat',
sans-serif;
$roboto: 'Roboto',
sans-serif;

a {
    text-decoration: none;
}

body {
    max-width       : 1366px;
    width           : 100%;
    background-color: #F2F2F2;
    margin-left     : auto;
    margin-right    : auto;
}

header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 0 24px 0 24px;
    height          : 76px;
    background-color: #ffffff;
    margin-bottom   : 1px;

    .logo {
        font-family: $monserrat;
        font-style : normal;
        font-weight: bold;
        font-size  : 24px;
        line-height: 32px;
    }

    .right_part {
        display: flex;
    }

    ul {
        display     : flex;
        margin-right: 56px;

        li {
            list-style  : none;
            margin-right: 24px;
        }

        li:last-child {
            margin-right: 0;
        }

        a {
            font-family: $roboto;
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 24px;
            display    : flex;
            color      : rgba(17, 17, 17, 0.48);
            position   : relative;
        }

        a:hover {
            color: #111;
        }

        a:hover:after {
            display         : block;
            position        : absolute;
            content         : "";
            height          : 2px;
            width           : 100%;
            background-color: #6E41E2;
            bottom          : -27px;
        }
    }

    .user_profile {
        display    : flex;
        align-items: center;

        .user_name a {
            font-family : $roboto;
            font-style  : normal;
            font-weight : normal;
            font-size   : 16px;
            line-height : 24px;
            color       : rgba(110, 65, 226, 1);
            margin-right: 12px;
        }

        .user_picture {
            display         : flex;
            justify-content : center;
            align-items     : center;
            width           : 44px;
            height          : 44px;
            background-color: #F1F1F1;
            border-radius   : 50%;
        }
    }
}

main {
    background-color: #ffffff;
    padding         : 40px 51px 77px 51px;

    .title {
        h1 {
            height     : 48px;
            font-family: $monserrat;
            font-style : normal;
            font-weight: bold;
            font-size  : 40px;
            line-height: 48px;
            color      : #000;
            margin     : 0;
        }

        p {
            height     : 48px;
            max-width  : 724px;
            font-family: $roboto;
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 24px;
            color      : #000000;
            margin     : 12px 0 0 0;
        }
    }

    .search-form {
        margin : 32px 0 32px 0;
        display: flex;

        input {
            height       : 56px;
            max-width    : 985px;
            width        : 100%;
            background   : #FFFFFF url(./assets/images/search.svg) no-repeat 16px 50%;
            border       : none;
            box-shadow   : 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
            margin-right : 20px;
        }

        input:focus-visible {
            outline   : none;
            background: none;
        }

        input::placeholder {
            padding-left: 44px;
            font-family : $roboto;
            font-style  : normal;
            font-weight : normal;
            font-size   : 16px;
            line-height : 24px;
            color       : rgba(17, 17, 17, 0.48);
        }

        .select {
            width   : 259px;
            height  : 56px;
            margin  : 0 auto;
            position: relative;
        }

        .select.is-active .select-body {
            display         : block;
            z-index         : 100;
            background-color: #ffffff;
        }

        .select-header {
            width          : 100%;
            height         : 100%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            border         : none;
            box-shadow     : 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius  : 4px;
        }

        .select-current-wrapper {
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            margin-left    : 16px;
        }

        .select-help {
            font-family: $roboto;
            font-style : normal;
            font-weight: normal;
            font-size  : 13px;
            line-height: 20px;
            color      : rgba(17, 17, 17, 0.48);
        }

        .select-current {
            font-family: $roboto;
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 24px;
            color      : #111;
        }

        .select-icons {
            display     : flex;
            margin-right: 17px;
            position    : relative;

            .icon-reset {
                width     : 24px;
                height    : 24px;
                background: url(./assets/images/reset.svg) no-repeat 50% 50%;
                cursor    : pointer;
            }

            .icon-open {
                width      : 24px;
                height     : 24px;
                background : url(./assets/images/open.svg) no-repeat 50% 50%;
                margin-left: 4px;
                cursor     : pointer;
            }
        }

        .select-body {
            position     : absolute;
            left         : 0;
            right        : 0;
            top          : 60px;
            display      : none;
            border       : none;
            box-shadow   : 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
            border-radius: 4px;
        }

        .select-item {
            font-family: $roboto;
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 24px;
            padding    : 8px;
            cursor     : pointer;
            margin-left: 16px;
        }

        .select-item:hover {
            background-color: #f2f2f2;
        }

        // NEW SELECT HERE
    }

    .courses {
        display: flex;
    }

    .course-table {
        max-width    : 400px;
        width        : 100%;
        height       : 347px;
        background   : #FFFFFF;
        box-shadow   : 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
        border-radius: 8px;
        position     : relative;
        margin-right : 32px;

        .layout-background-img {
            width        : 400px;
            height       : 134px;
            position     : absolute;
            background   : linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.72) 93.75%);
            border-radius: 8px 8px 0 0;
        }

        .background-img {
            border-radius: 8px 8px 0 0;
        }

        .layout-background-img::before {
            content      : "";
            display      : block;
            width        : 46px;
            height       : 24px;
            position     : absolute;
            background   : #27AE60;
            border-radius: 8px 0 0 0;
        }

        .layout-background-img::after {
            content    : "Progress 12%";
            display    : block;
            position   : absolute;
            width      : 363px;
            height     : 20px;
            left       : 20px;
            top        : 2px;
            font-family: $roboto;
            font-style : normal;
            font-weight: normal;
            font-size  : 13px;
            line-height: 20px;
            color      : #FFFFFF;
        }

        .user-info {
            display : flex;
            position: absolute;
            top     : 87px;
            left    : 20px;

            .user-name {
                font-family: $roboto;
                font-style : normal;
                font-weight: normal;
                font-size  : 16px;
                line-height: 24px;
                color      : #FFFFFF;
                margin-left: 12px;
            }
        }

        .title-wrapper {
            height: 93px;
        }

        .title {
            font-family: $monserrat;
            font-style : normal;
            font-weight: bold;
            font-size  : 20px;
            line-height: 28px;
            display    : flex;
            align-items: flex-end;
            color      : #111111;
            max-width  : 360px;
            margin     : 20px 20px 13px 20px;
        }

        .description-line {
            display    : flex;
            margin-left: 20px;

            .lessons {
                display     : flex;
                align-items : center;
                margin-right: 12px;
                font-family : $roboto;
                font-style  : normal;
                font-weight : normal;
                font-size   : 16px;
                line-height : 24px;
                color       : #111111;
            }

            .lessons::before {
                content     : "";
                background  : url(./assets/images/head.png);
                height      : 15px;
                width       : 20px;
                display     : block;
                margin-right: 6px;
            }

            .tasks {
                display     : flex;
                align-items : center;
                margin-right: 12px;
                font-family : $roboto;
                font-style  : normal;
                font-weight : normal;
                font-size   : 16px;
                line-height : 24px;
                color       : #111111;
            }

            .tasks::before {
                content     : "";
                background  : url(./assets/images/pen.png) no-repeat;
                height      : 17px;
                width       : 17px;
                display     : block;
                margin-right: 6px;
            }

            .minutes {
                display     : flex;
                align-items : center;
                margin-right: 12px;
                font-family : $roboto;
                font-style  : normal;
                font-weight : normal;
                font-size   : 16px;
                line-height : 24px;
                color       : #111111;
            }

            .minutes::before {
                content     : "";
                background  : url(./assets/images/utube.png) no-repeat;
                height      : 14px;
                width       : 20px;
                display     : block;
                margin-right: 6px;
            }
        }

        .buttons {
            display   : flex;
            margin-top: 32px;

            .continue-btn {
                width           : fit-content;
                padding         : 0 20px;
                height          : 44px;
                border          : 1px solid #6E41E2;
                box-sizing      : border-box;
                border-radius   : 4px;
                background-color: #ffffff;
                font-family     : $roboto;
                font-style      : normal;
                font-weight     : normal;
                font-size       : 16px;
                line-height     : 24px;
                color           : #6E41E2;
                margin-left     : 20px;
                display         : flex;
                justify-content : center;
                align-items     : center;
            }

            .continue-btn:hover {
                cursor: pointer;
            }

            .continue-btn:hover::before {
                content     : "";
                display     : block;
                background  : url(./assets/images/arrow-leftcolor.svg);
                cursor      : pointer;
                width       : 16px;
                height      : 16px;
                margin-right: 8px;
            }

            .more-btn {
                width           : 77px;
                height          : 44px;
                margin-left     : 8px;
                font-family     : $roboto;
                font-style      : normal;
                font-weight     : normal;
                font-size       : 16px;
                line-height     : 24px;
                color           : #6E41E2;
                background-color: #ffffff;
                border          : none;
                display         : flex;
                justify-content : center;
                align-items     : center;
            }

            .more-btn:hover {
                cursor: pointer;
            }

            .more-btn:hover::before {
                content     : "";
                display     : block;
                background  : url(./assets/images/arrow-leftcolor.svg);
                cursor      : pointer;
                width       : 16px;
                height      : 16px;
                margin-right: 8px;
            }
        }
    }
}

@media (max-width: 1366px) {
    .courses {
        flex-wrap: wrap;

        .course-table {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 600px) {
    header {
        padding        : 0 10px 0 10px;
        flex-wrap      : wrap;
        justify-content: center;
        height         : 128px;

        .right_part {
            max-width      : 540px;
            width          : 100%;
            justify-content: space-between;
            .user_profile {
                flex-wrap: wrap-reverse;
                justify-content: center;
                width: fit-content;
            }
        }

        ul {
            padding     : 0;
            margin-right: 20px;

            li {
                margin-right: 10px;
            }
        }
    }



    main {
        padding: 40px 21px 40px 21px;
        .search-form {
            flex-wrap: wrap;
    
            input {
                margin-bottom: 20px;
                margin-right: 0;
            }
        } 

        .course-table {
            height: auto;
            margin-right: 0;

            .description-line {
                flex-wrap: wrap;
            }

            .layout-background-img {
                width: 100%;
            }
            .layout-background-img::after {
                width: 100%;
            }

            .buttons {
                margin-bottom: 20px;
            }
        }

        .background-img {
            width : 100%;
            height: 134px;
        }

        .title {
            h1 {
                height: auto;
            }

            p {
                height: auto;
            }
        }
    }
}